<% include ../partials/header %>
	<div class = "">
		<div class="col s12">
			<a href="/BDiZ/client/add" class="btn btn-success btn-lg mt-1">Додати клієнта</a>
			<a href="/" class="btn btn-success btn-lg mt-1">На головну</a>
		</div>
	</div>
	<br>

	<div class "=">
		<div class="col s12">
			<% if (items.length > 0){%>
			<table class = "table">
				<thead>
					<tr>
			
						<th style="width:20%; text-align:center">ПІБ</th>
						<th style="width:10%; text-align:center">Номер накладної</th>
						<th style="width:30%; text-align:center">Номер телефону</th>
						<th style="width:10%; text-align:center">Постійний</th>
						<th solspan="2" style ="width:30%; text-align:center">Дії</th>
					</tr>
				</thead>
			<tbody>
				<% items.forEach(function(item, index){ %>
					<tr>
							
							<td style="width:20%; text-align:center"><%= item.name %></td>
							<td style="width:10%; text-align:center"><%= item.list %></td>
							<td style="width:30%; text-align:center"><%= item.phone %></td>
							<td style="width:10%; text-align:center"><%= item.often %></td>
							<td solspan="2" style="width:30%; text-align:center"><%= item.name %>
								<a href="/BDiZ/client/edit/<%= item.list %>" class="btn btn-success">Редагувати</a>
								<a href="/BDiZ/client/delete/<%= item.list %>" class="btn btn-danger">Видалити</a>
							</td>
						</tr>			
					<% }); %>
				</tbody>
			</table>
		<% }else{ %>
			<p>No records</p>
		<% } %>
	</div>
</div>
<% include ../partials/footer %>